<div class="mp-filter-container">
    <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--dense">
        <input type="text" ng-model="filterValue" ng-change="filterTxt()" class="mdc-text-field__input md-filter-input">
        <label class="mdc-floating-label" for="text-field--outlined">Filtro</label>
        <div class="mdc-notched-outline"><svg>
            <path class="mdc-notched-outline__path"></path>
        </svg></div>
        <div class="mdc-notched-outline__idle"></div>
    </div>
    <!-- <button class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary mdc-button--raised" type="submit" ng-click="filterTxt()">Buscar</button> -->
</div>