.mp-header-container {
    padding: 10px 0;
    border-bottom: 2px solid $main-color;
}
.mp-header-content {
    display: flex;
}

.mp-logo-container {
    min-width: 200px;
    width: 15%;
}

.mp-search-container {
    display: flex;
    justify-content: center;
    padding: 15px 10px 0;
    text-align: center;
    width: 60%;
}

.mp-menu-container {
    padding: 0 10px;
    width: 25%;

    ul {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
    }

    li a {
        display: inline-block;
        font-size: 17px;
        padding: 5px 15px;

        &:hover {
            color: $main-color;
        }
    }
}

.md-search-input {
    max-width: 350px;
    padding: 10px;
    width: 100%;
}