.mp-search-container {
    .mdc-text-field--outlined.mdc-text-field--dense {
        margin-right: 10px;
        max-width: 400px;
        height: 38px;
        width: 100%;
    }

    .mdc-text-field text-field .mdc-text-field--outlined {
        padding: 10px;
    }

    .mdc-text-field--outlined.mdc-text-field--dense .mdc-floating-label {
        bottom: 12px;
    }
}

.mp-main-container {
    min-height: 100%;
    overflow: hidden;
    position: relative;
};

.mp-main-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
};

.mp-container {
    display: flex;
    justify-content: center;
};

.mp-content {
    max-width: 1300px;
    width: 100%;
};