<header class="mp-container mp-header-container">
    <div class="mp-content mp-header-content">
        <div class="mp-logo-container">
            <img src="./assets/images/marvel-logo.svg" alt="Logo Marvel">
        </div>
        <div class="mp-search-container">
            <form action="">
                <label for="search">Buscar</label>
                <input type="text" name="search" placeholder="Pesquise aqui">
                <input class="mdc-button" type="submit" value="Buscar">
                <button class="mdc-button" disabled>
                    Button
                  </button>
            </form>
        </div>
        <nav class="mp-menu-container">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Characters
                    </a>
                </li>
                <li>
                    <a href="#">
                        Comics
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>